        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted">IVE HK 2016-2017 SHCOOL YEAR | CREATED BY EVANFUNG</p>
            </div>
        </footer>
    </body>
</html>