<% include partials/header %>
<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Quiz App!</h1>
        <p><a href="/quiz">View All Quizs</a></p>
      </div>
</div>
<% include partials/footer %>